.skills-section {
  background: #ade0de73;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.skills-title {
  color: #d46a6a;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: min(1500px, 100%);
  margin: 0 auto;
  padding: 0 1rem;
}

.skill-card {
  flex: 1 1 calc(25% - 1.5rem);
  max-width: 310px;
  height: 340px;
  cursor: pointer;
  perspective: 1000px;
}

.skill-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.skill-card-front,
.skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.skill-card-front {
  background: linear-gradient(135deg, #d46a6a 0%, #d2acac 100%);
  color: white;
}

.skill-card-back {
  background-color: #faf7e9;
  transform: rotateY(180deg);
}

.skill-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.skill-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: white;
}

.skill-hint {
  padding-top: 0.5rem;
  font-size: 1rem;
  opacity: 0.9;
  color: white;
}

.skill-hint svg {
    font-size: 1.3em;
}

.skill-back-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #d46a6a;
}

.skill-description {
  color: #495366;
  font-size: 0.95rem;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .skills-title {
    font-size: 2rem;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .skill-card {
    width: 100%;
    height: 340px;
  }

  .skill-title {
    font-size: 1.125rem;
  }
}
