.footer {
  background: #fcf8f0;
  padding: 2rem;
   border: 2px solid rgba(26, 95, 95, 0.15);
}

.footer-content {
  color: #1a5f5f91;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 700;
}

.footer-content p {
  margin: 0;
  font-size: 1.5rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #d46a6a;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
}

.footer-link:hover {
  color: #2d8b8b;
  background: rgba(43, 92, 92, 0.1);
  transform: translateY(-2px);
}

.footer-link svg {
  font-size: 1.2rem;
}

@media (max-width: 1070px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .footer-links {
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-link {
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .footer-content {
    align-items: center;
    padding-left: 2rem;
  }

  .footer-links {
    flex-direction: column;
    width: 100%;
  }

  .footer-link {
    justify-content: center;
  }
}
