.extra-Card {
  max-width: 1000px;
  margin: 3rem auto;
  margin-bottom: 0;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  background-color: #faf7e9;
}

.extra-card-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d46a6a;
}

.extra-card-description{
  font-size: 1.3rem;
  text-align: justify;
}

.extra-card-description a {
  text-decoration: none;
  color: #d46d6c;
}
