@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

p, button {
  font-family: 'Lato', sans-serif;
}